.whole-page {
  height: 100%;
  margin: 0%;
  padding: 0%;
  text-align: center;
  /* padding-top: 10%; */
  /* padding-left: 35%; */
  /* padding-bottom: 35%; */
}

.content {
  text-align: center;
  box-sizing: border-box;
  border: forestgreen;
}

.card-header {
}

.password-area {
  padding: 20px;
  height: fit-content;
  
}

#password {
  height: 300px;
  width: 600px;
  text-align: center;
  border-style: dashed;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.Your-Secure-Password {
}
.generate-password-button {
  padding: 10px;
  color: red;
}

.btn {
  color: red;
}
