.whole-page {
  height: 100%;
  margin: 0%;
  padding: 0%;
  padding-top: 10%;
  padding-left: 35%;
  padding-bottom: 35%;
}

.header{
}

.content {
}

.card-header {
}

.password-area {
}

.generate-password-button {
}

.btn {
}
