.whole-page {
  height: 100%;
  margin: 0%;
  padding: 0%;
  padding-top: 10%;
  padding-left: 35%;
  padding-bottom: 35%;
}

.content {
  text-align: center;
}

.card-header {
  
}

.password-area {
  padding: 20px;
  height: fit-content;
}

#password{
  height: 300px;
  width: 600px;
  text-align: center;
}

.generate-password-button {
  padding: 10px;
  
}

.btn {
}
